<h1><%= @comment.id ? 'Edit Comment' : 'Create Comment' %></h1>
<hr />
<%= form_for [@movie, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <%= f.submit %>
<% end %>