<h1><%= @comment.id ? "Edit Comment" : "Create Comment" %></h1>
<hr />
<%= form_for [@movie, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, autofocus: true, required: true %>
  <%= f.submit %>
<% end %>

