
<h1><%=@movie.id ? 'Edit movie' : 'Create Movie' %></h1>
<hr />
    <% form_for @movie do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, required: true, autofocus: true %>
    <br />
    <%= f.label :duration %>
    <%= f.text_field :duration, required: true %>
    <br />
    <%= f.label :genre %>
    <%= f.text_field :genre, required: true%>
    <br />
    <%= f.label :description %>
    <%= f.text_area :description, required: true%>
    <br />
    <%= f.label :trailer %>
    <%= f.text_field :trailer, required: true%>
    <br />
    <%=f.submit%>
 <% end %>

 