<div id="list-head">
  <h2><%= @movie.title %></h2>
</div>

<iframe src='<%= @movie.trailer %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
<p><%= link_to  "Description", @movie.description %></p>
<h2> Comments </h2>

<%= link_to 'Add Comment', new_movie_comment_path(@movie) %>

<table class="ui inverted table">
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to 'Edit', edit_movie_comment_path(@movie, comment) %></td>
        <td><%= link_to 'Delete', movie_comment_path(@movie, comment), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>