<h2><%= @movie.title %></h2>

<iframe src='<%= @movie.trailer %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
<p><%= @movie.description %>

<h2> Comments </h2>

<%= link_to 'Add Comment', new_movie_comment_path(@movie) %>